<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.mapper.OrderMapper">

  <insert id="insert">
    insert into tb_order(order_id, warehouse_id, warehouse_name,
                         product_id, product_name, user_id, username, count, stock)
    values (#{orderId}, #{warehouseId}, #{warehouseName},
            #{productId}, #{productName}, #{userId}, #{username}, #{count}, #{stock})
  </insert>

  <delete id="deleteById">
    delete from tb_order where order_id=#{orderId}
  </delete>

  <select id="selectCountByDate" resultType="java.lang.Integer">
    select count(*) from tb_order
    <where>
      <if test="keyword != null">
        order_id like concat(#{keyword}, '%')
      </if>
    </where>
  </select>

  <select id="selectListByDate" resultType="com.admin.pojo.entity.Order">
    select * from tb_order
    <where>
      <if test="keyword != null">
        order_id like concat(#{keyword}, '%')
      </if>
    </where>
    limit #{page}, #{pageSize}
  </select>
</mapper>
