<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.mapper.OrderMapper">

  <insert id="insert">
    insert into tb_order(warehouse_id, warehouse_name, product_id, product_name, count)
    values (#{warehouseId}, #{warehouseName}, #{productId}, #{productName}, #{count})
  </insert>

  <delete id="deleteById">
    delete from tb_order where order_id=#{orderId}
  </delete>

  <select id="selectCountByDate" resultType="java.lang.Integer">
    select count(*) from tb_order
    <where>
      <if test="date != null ">
        create_time like concat(#{date}, '%')
      </if>
    </where>
  </select>

  <select id="selectListByDate" resultType="com.admin.pojo.entity.Order">
    select * from tb_order
    <where>
      <if test="date != null ">
        create_time like concat(#{date}, '%')
      </if>
    </where>
    limit #{page}, #{pageSize}
  </select>
</mapper>
